-if eti == nil

	= text_field_tag 'creacion','', :class=>'datepicker input-medium'

	:javascript
		$('.datepicker').datepicker({
		"format": "dd/mm/yyyy",
		"weekStart": 1,
		"autoclose": true,
		"language": "es"});

		$('#creacion').val(fechaAhora());
- else
	= text_field_tag 'creacion',eti, :class=>'datepicker input-medium'

	:javascript
		$('.datepicker').datepicker({
		"format": "dd/mm/yyyy",
		"weekStart": 1,
		"autoclose": true,
		"language": "es"});
