%fieldset.gllpLatlonPicker
	%div{:class=>'gllpMap'} Google Maps
	= hidden_field_tag :latitud , lat , :class=>'gllpLatitude'
	= hidden_field_tag :longitud, lng , :class=>'gllpLongitude'
	
	%input{:class=>'gllpZoom',:type => "hidden", :value=>'15'}

= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=true"
:javascript
	$(document).ready(function(){

	});

